.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-display: column;
    gap: 30px;
    padding: 30px;
}

.heading {
    font-weight: bold;
    font-size: 2.1rem;
}

.toolbar {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.colors {
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.color {
    height: 36px;
    width: 36px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.color:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toolbar button {
    padding: 8px 16px;
    border-radius: 5px;
    /* width: 50%; */
    background: linear-gradient(45deg, #fa71cd, #c471fa, #7193fa, #71d5fa);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.toolbar button svg {
    height: 20px;
    width: 40px;
}

button:active {
    transform: translateY(6px);
}

.main {
    display: flex;
    font-display: column;
    gap: 30px;
    width: 100%;
}

/* Media Query for Mobile */
@media only screen and (max-width: 479px) {
    .container {
        padding: 15px;
    }
    .heading {
        font-size: 1.8rem;
    }
    .toolbar {
        gap: 20px;
    }
    .colors {
        gap: 10px;
        padding: 0 15px;
    }
    .colors .color {
        height: 24px;
        width: 24px;
    }
    .toolbar button {
        font-size: 0.8rem;
        padding: 5px 10px;
    }
    .toolbar button svg {
        height: 16px;
        width: 16px;
    }
}

/* Media Query for Tablet */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 600px;
    }
}

/* Media Query for Small Laptop */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 800px;
    }
}

/* Media Query for Large Display */
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
        padding: 40px;
    }
}
