.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background: linear-gradient(45deg, #b35e97, #a462d1, #7193fa, #71d5fa);
}

.footer .social {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.footer .social a {
    margin: 0;
    text-decoration: none;
    color: #eeeaea;
    text-shadow: none;
    transition: all 0.3s ease;
    transform: scale(1);
}

.footer .social a:hover {
    background-color: transparent;
    color: #000000;
    font-size: 1.1em;
}

.footer .social a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.footer .social a:hover::after {
    opacity: 1;
}

.footer .info {
    text-align: center;
}

.footer .info p {
    margin: 0;
    font-size: 14px;
    color: #eeeaea;
}
.footer .info a {
    margin: 0;
    text-decoration: none;
    color: #eeeaea;
    text-shadow: none;
    transition: all 0.3s ease;
}

.footer .info a:hover {
    text-shadow: 1px 1px 2px #000000;
    opacity: 0.8;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
    .social {
        margin-bottom: 20px;
    }
}

/* For tablet devices */
@media only screen and (min-width: 600px) and (max-width: 960px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 20px;
    }
    .social {
        margin-bottom: 0;
    }
    .info {
        margin-left: 20px;
    }
}

/* For desktop devices */
@media only screen and (min-width: 960px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 20px;
    }
    .social {
        margin-bottom: 0;
    }
    .info {
        margin-left: 20px;
    }
}
