.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: 500;
    font-size: 1rem;
}

input {
    border: 1px solid #cccccc;
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;
}

input:hover {
    border: 1px solid #adadad;
}

input:focus {
    border: 1px solid #239ce2;
}

@media only screen and (max-width: 767px) {
    label {
        font-size: 0.8rem;
    }

    input {
        font-size: 0.8rem;
        padding: 8px 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    label {
        font-size: 0.9rem;
    }

    input {
        font-size: 0.9rem;
        padding: 9px 11px;
    }
}

@media only screen and (min-width: 1024px) {
    label {
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
        padding: 10px 12px;
    }
}
